<h1
    class="m-4 mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-900">
    Creación de Outputs</h1>

<form [formGroup]="form" style="width:90%" class="mx-auto" (ngSubmit)="create()">

    <div class="mb-5">
        <input type="text" formControlName="name"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
            placeholder="Nombre">
    </div>

    <div class="mb-5">
        <textarea formControlName="description" rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Descripción"></textarea>
    </div>

    <div class="mb-5">
        <app-form-generator (changed)="setCalculation($event)"></app-form-generator>
        <textarea hidden formControlName="calculation"></textarea>
    </div>

</form>