<div class="w-full mx-auto lg:w-2/3">
    <h1 class="text-3xl font-bold mb-7 text-black-primary">Usuarios</h1>
    <div class="flex items-center my-5">
        <!-- Search component -->
        <app-search-entity class="w-full" (onSearch)="search($event)"></app-search-entity>

        <!-- Modal component create user -->
        <buttonComp [text]="'Crear'" (click)="create()" [buttonStyle]="'ms-2'"></buttonComp>
    </div>

    <!-- Table users component -->
    <app-table-users 
        [data]="data" 
        (onDelete)="delete($event)" 
        (onUpdate)="update($event)"
        (onChangePage)="getAll($event)"
    ></app-table-users>

</div>