.fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
  }
  
  .bg-white {
    background-color: white;
    width: 33.333333%; /* Un tercio del ancho */
    height: 100%;
    padding: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  