<div class="fixed inset-0 flex items-center justify-end bg-black bg-opacity-50 z-50" (click)="close()">
  <div class="bg-white w-[400px] lg:w-[500px] h-full p-4 shadow-lg" (click)="$event.stopPropagation()">
    <h2 class="text-2xl font-bold mb-4">Filtros</h2>
    <form (submit)="preventSubmit($event)">

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Formularios</label>
        <app-form-selector 
          [selectedSizes]="[]" 
          (jsonGenerated)="handleFilterChange($event)">
        </app-form-selector>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Instituciones</label>
        <app-institution-selector 
          [selectedSizes]="[]" 
          (jsonGenerated)="handleFilterChange($event)" 
          (selectedSizesUpdated)="updateSelectedInstitutions($event)">
        </app-institution-selector>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Cursos</label>
        <app-schoolyear-selector 
          [selectedSizes]="selectedSizes" 
          [selectedInstitutions]="selectedInstitutions" 
          (jsonGenerated)="handleFilterChange($event)"
          (selectedSizesUpdated)="updateSelectedSizes.emit($event)">
        </app-schoolyear-selector>
      </div>

      <div class="mb-4">
        <app-range-filter [text]="'Selecciona un rango de fechas de entrega'" (filterChange)="handleFilterChange($event)" [field]="'date'" [date]="true"></app-range-filter>
      </div>

      <div class="flex justify-end">
        <button type="button" (click)="close()" class="justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 flex items-center gap-2">
          Cerrar
        </button>
        <button type="button" (click)="applyFilters()" class="ml-2 justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 flex items-center gap-2">
          Aplicar
        </button>
      </div>
    </form>
  </div>
</div>