<main class="">
    <div class="mb-[2em] mt-[-1em] mx-[-1em]">
        <ul class="flex flex-row flex-nowrap gap-12 xl:gap-24 lg:gap-18 justify-center  py-4 w-3/3 m-auto">
            <li class="cursor-pointer"><a routerLink="inputs" class="text-lg hover:text-green-dark px-4 py-2" routerLinkActive="active">Campos</a></li>
            <li class="cursor-pointer"><a routerLink="outputs" class="text-lg hover:text-green-dark px-4 py-2" routerLinkActive="active">Resultados</a></li>
            <li class="cursor-pointer"><a routerLink="forms" class="text-lg hover:text-green-dark px-4 py-2" routerLinkActive="active">Formularios</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</main>
