<div class="relative bg-white rounded-lg shadow w-10/12 md:w-8/12 lg:w-6/12 xl:w-5/12 2xl:w-4/12 m-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
            <h3 class="text-lg font-semibold text-black-primary">
                Abrir Formulario
            </h3>
            <button type="button" (click)="closeModal()"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                <svg class="w-6 h-6 text-black-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M6 18 18 6m0 12L6 6" />
                </svg>
            </button>
        </div>

        <form [formGroup]="form">

            <div class="flex flex-col p-4">
                <div class="flex flex-row bg-gray-100 rounded-lg p-2">
                    <span>Curso {{ schoolYear.name }}</span>
                </div>
                
                <div class="my-4">
                    <hr>
                </div>

                <div class="flex flex-row justify-between items-center gap-4">
                    <buttonComp [text]="'Seleccionar Formulario'" (click)="handlerSelectForm()"></buttonComp>
                    <div class="rounded-lg p-4 bg-gray-100 w-full h-[60px] flex justify-center items-center">
                        @if (formulary) {
                            <span>{{ formulary?.name }}</span>
                        } @else {
                            <span>No hay un formulario seleccionado</span>
                        }
                    </div>
                </div>

                <div class="my-4">
                    <hr>
                </div>

                <div class="flex flex-row bg-gray-100 rounded-lg p-2 justify-between gap-4">
                    <div class="flex flex-col justify-center gap-2 items-center">
                        <span>Desde </span>
                        <input type="datetime-local" id="startDate" name="startDate" class="datepicker" formControlName="startDate">
                    </div>
                    <div class="flex flex-col justify-center gap-2 items-center">
                        <span>Hasta </span>
                        <input type="datetime-local" id="expirationDate" name="expirationDate" class="datepicker" formControlName="expirationDate">
                    </div>
                </div>

                <buttonComp class="mt-4 w-min" [text]="'Abrir Formulario'" (click)="onSubmit()" [buttonStyle]="'text-nowrap'"></buttonComp>

            </div>

        </form>

    </div>
</div>
