<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        @if (data && data.length > 0) {
        <thead class="text-xs text-white uppercase table-header">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Options</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (item of data; track item.id; let index = $index) {
                <tr class="bg-white border-b hover:bg-gray-50">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ item.email }}
                    </th>
                    <td class="px-6 py-4 text-right flex justify-end">
                        <app-dropdown
                            [rows]="dropdownRows"
                            [data]="item"
                            [triggerStyle]="'text-gray-800'"
                            [dropdownStyle]="'text-black-primary'"
                        ></app-dropdown>
                    </td>
                </tr>
            }
        </tbody>
        }@else {
        <thead class="text-xs text-black uppercase bg-gray-100">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b hover:bg-gray-50">
                <td scope="row" class="w-full px-6 py-4 font-medium text-center text-gray-900 whitespace-nowrap">
                    Ningún elemento para mostrar
                </td>
            </tr>
        </tbody>
        }
    </table>
</div>
<nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4" aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 mb-4 md:mb-0 block w-full md:inline md:w-auto">Mostrando
        <span class="font-semibold text-gray-900 ">{{pageable.page * pageable.size - pageable.size + 1}}
            - {{pageable.page * pageable.size}}</span> de <span
            class="font-semibold text-gray-900">{{pageable.totalElements}}</span></span>
    <div class="float-end">
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
            <li>
                <a href="#"
                    class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">Previous</a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">1</a>
            </li>
            <li>
                <a href="#"
                    class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">Next</a>
            </li>
        </ul>
    </div>
</nav>


<!-- <button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger">
    <svg class="w-[28px] h-[28px] text-gray-800" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="3"
            d="M6 12h0m6 0h0m6 0h0" />
    </svg>
</button>

<ng-template #menu>
    <div class="example-menu" cdkMenu>
        <button class="example-menu-item hover:bg-gray-100 cursor-pointer" (click)="update(item)" cdkMenuItem>
            <svg class="w-6 h-6 text-gray-800 inline mr-2" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z" />
            </svg>
            Actualizar
        </button>
        <button class="example-menu-item hover:bg-gray-100 cursor-pointer" (click)="delete(item)" cdkMenuItem>
            <svg class="w-6 h-6 text-gray-800 inline mr-3" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
            </svg>
            Eliminar
        </button>
    </div>
</ng-template> -->