.datepicker {
  /* Agrega aquí tus estilos personalizados */
  width: 225px;
  padding: 10px;
  border: 2px solid rgb(209 213 219);
  border-radius: .5rem;
  font-size: 14px;
  outline: none; /* Elimina el borde al enfocar el input */
  height: 43px;
}