<!-- Main modal -->
<div id="create-user-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                <h3 class="text-lg font-semibold text-black-primary">
                    Crear Nuevo Usuario
                </h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-toggle="create-user-modal">
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form [formGroup]="form" (ngSubmit)="submit()" class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="email"
                            class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                        <input type="text" name="email" id="email" formControlName="email" matInput
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-light focus:border-green-light block w-full p-2.5"
                            placeholder="Escribe el email" required="">
                    </div>
                    <div class="col-span-2">
                        <label for="name"
                            class="block mb-2 text-sm font-medium text-gray-900">Roles</label>
                        <div class="flex items-center mb-4">
                            <input checked formControlName="checkboxUser" id="checkboxUser" type="checkbox"
                                class="w-4 h-4 text-green-primary bg-gray-100 border-gray-300 rounded focus:ring-green-light cursor-pointer hover:active:bg-green-light">
                            <label for="checkboxUser"
                                class="ms-2 text-sm font-medium text-gray-900">USER</label>
                        </div>
                        <div class="flex items-center mb-4">
                            <input formControlName="checkboxAdmin" id="default-checkbox" type="checkbox"
                                class="w-4 h-4 text-green-primary bg-gray-100 border-gray-300 rounded focus:ring-green-light cursor-pointer hover:active:bg-green-light">
                            <label for="default-checkbox"
                                class="ms-2 text-sm font-medium text-gray-900">ADMIN</label>
                        </div>
                    </div>
                    <div class="col-span-2">
                        <label for="institutions-user-modal"
                            class="block mb-2 text-sm font-medium text-gray-900">
                            Selecciona el instituto
                        </label>
                        <select id="institutions-user-modal" formControlName="selectInstitution"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-light focus:border-green-light block w-full p-2.5 cursor-pointer">
                            @for (institution of institutionList; track institution.id) {
                            <option value="{{ institution.id }}">{{ institution.name }}</option>
                            }
                        </select>
                    </div>
                </div>
                <button type="submit"
                    class="text-white inline-flex items-center font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-green-primary hover:bg-green-light">
                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                    Crear Usuario
                </button>
            </form>
        </div>
    </div>
</div>