<form [formGroup]="form" class="w-full mx-auto lg:w-2/3" (ngSubmit)="onSubmit()">

    <h1 class="text-3xl font-bold mb-7 text-black-primary">Crear Nuevo Resultado</h1>

    <div class="mb-5">
        <label for="name" class="block mb-2 text-sm font-medium text-black-primary">Nombre</label>
        <input id="name" type="text" formControlName="name"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
            placeholder="Nombre">
    </div>

    <div class="mb-5">
        <label for="description" class="block mb-2 text-sm font-medium text-black-primary">Descripción</label>
        <textarea id="description" formControlName="description" rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 min-h-16 max-h-60"
            placeholder="Descripción"></textarea>
    </div>

    <div class="mb-5">
        <app-form-generator (changed)="setCalculation($event)"></app-form-generator>
        <textarea hidden formControlName="calculation"></textarea>
    </div>

    <div class="mb-5">
        <label for="unit" class="block mb-2 text-sm font-medium text-black-primary">Unidad de medida</label>
        <input id="unit" type="text" formControlName="unit"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
            placeholder="Unidad de medida, por ejemplo cms">
    </div>

    <div class="mb-8">
        <buttonComp
            [text]="'Definir umbrales'"
            [buttonStyle]="'mx-0 w-full'"
            (click)="setThreshold()"
            class="w-fit"
        ></buttonComp>
    </div>

    <div>
        <buttonComp 
            [text]="'Crear Resultado'" 
            [buttonStyle]="'mx-0 w-full'"
            (click)="onSubmit()"
            class="w-fit">
        </buttonComp>
    </div>
</form>
