<!-- Modal content -->
<div class="relative bg-white rounded-lg shadow w-10/12 md:w-8/12 lg:w-6/12 xl:w-5/12 2xl:w-4/12 m-auto">
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
        <h3 class="text-lg font-semibold text-black-primary">
            Creación de Umbrales
        </h3>

        <button type="button" (click)="closeModal()"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
            <svg class="w-6 h-6 text-black-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M6 18 18 6m0 12L6 6" />
            </svg>
        </button>
    </div>

    <form class="p-4 md:p-5" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid gap-2 mb-4 grid-cols-subgrid max-h-96 overflow-y-scroll pr-1" formArrayName="umbralList">
            @for (umbral of umbralList.controls; track index; let index = $index) {
                <ng-container [formGroupName]="index">
                    <div class="mb-5 col-start-1 col-end-5 flex">
                        <span class="text-lg font-normal text-gray-500 py-2 pr-4">{{ index + 1 }}</span>
                        <input type="text"
                            formControlName="text"
                        
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                            placeholder="Texto">
                    </div>
        
                    <div class="mb-5 col-start-5">
                        <input type="number"
                            formControlName="value"
                
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                            placeholder="Valor">
                    </div>
        
                    <div class="mb-5 col-start-6 flex">
                        <select
                            formControlName="type"
                        
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
                        <option value="="> = </option>
                        <option value=">"> > </option>
                        <option value="<"> < </option>
                        </select>
                        <span class="transition-colors hover:text-black-primary text-black-secondary cursor-pointer py-2 pl-4" (click)="deleteUmbral(index)">
                            <svg class="w-6 h-6 inline mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" /></svg>
                        </span>
                    </div>
              </ng-container>
            }
        
        </div>

        <div class="flex justify-center">
            <button type="button"
                (click)="addUmbral()"
                class="transition-colors bg-green-primary hover:bg-green-light text-white font-medium rounded-full px-3 py-3 text-center">
                <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 12h14m-7 7V5" />
                </svg>
            </button>
        </div>

        <div>
            <button type="submit"
                class="transition-colors text-white inline-flex items-center bg-green-primary hover:bg-green-light font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                        clip-rule="evenodd"></path>
                </svg>
                Guardar umbrales
            </button>
        </div>
    </form>
</div>