.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .col {
    flex: 1;
  }
  .col-30 {
    flex: 3;
  }
  .canvas{
    height:100% !important;
    border:1px dotted gray;
    background-color: rgb(197, 197, 197);
  }
  .items{
    height: fit-content;
    cursor: pointer;
    border: 1px solid gray;
    padding: 2px;
    margin: 0px;
    // background-color:white;
    font-weight: bold;
    font-size: large;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .imput-list {
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  .botonera{
    button{
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 600px) {
    .botonera{
      button{
        font-size: 0.5rem;
      }
    }
}