<div class="w-full mx-auto lg:w-2/3">
    <h1 class="text-3xl font-bold mb-7 text-black-primary">Cursos</h1>
    <div class="flex items-center my-5">
        <app-search-entity class="w-full" (onSearch)="search($event)"></app-search-entity>
        <buttonComp [text]="'Crear'" (click)="create()" [buttonStyle]="'ms-2'"></buttonComp>
    </div>

    <app-table-school-year
        [data]="data" 
        [institution]="institution"
        (onDelete)="delete($event)" 
        (onUpdate)="update($event)"
        (onChangePage)="getAll($event)"
    >
    </app-table-school-year>
</div>