<div class="w-full mx-auto lg:w-2/3">
    <h1 class="text-3xl font-bold mb-7 text-black-primary">Cursos</h1>
    <div class="flex items-center my-5">
        <app-search-entity class="w-full"></app-search-entity>
        <buttonComp [text]="'Crear'" (click)="create()"></buttonComp>
    </div>
</div>
@if (data && data.length > 0) {
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 mt-10">
    @for (item of data; track $index) {
    <div class="w-full m-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow">
        <div class="flex justify-end px-4 pt-4">
            <!-- Dropdown menu -->
            <app-dropdown
                [rows]="dropdownRows"
                [data]="item"
                [triggerStyle]="'text-gray-800'"
                [dropdownStyle]="'text-black-primary'"
            ></app-dropdown>
        </div>
        <div class="flex flex-col items-center pb-10">
            <h5 class="mb-1 text-4xl font-medium text-gray-900">{{item.name}}</h5>
            <div class="flex mt-4 md:mt-6">
                <buttonComp [text]="'Gestión Respuestas'" (click)="create()" [buttonStyle]="'w-8/12 sm:w-10/12'" class="flex justify-center"></buttonComp>
                <buttonComp [text]="'Gestión Formularios'" (click)="create()" [buttonStyle]="'w-8/12 sm:w-10/12'" class="flex justify-center"></buttonComp>
            </div>
        </div>
    </div>
    }
</div>
}@else {
<div class="m-auto mt-10">
    <h3 class="text-center font-bold mb-7 text-black-primary">No hay Cursos</h3>
</div>
}