<main>
  <div class="bg-gray-50 mx-auto mb-6 rounded-lg w-full lg:w-2/3 border border-gray-300">
      <ul class="flex flex-row flex-wrap md:flex-nowrap gap-4 xl:gap-24 lg:gap-18 justify-around p-1.5 w-3/3 m-auto">
          <li class="cursor-pointer flex justify-center items-center w-full lg:w-52"><a routerLink="schoolyear" [queryParams]="{ id: this.institution ? this.institution.id : '' }" class="text-center text-lg hover:text-green-dark px-4 py-3.5 transition-colors rounded-lg w-full" routerLinkActive="active">Cursos</a></li>
          <li class="cursor-pointer flex justify-center items-center w-full lg:w-52"><a routerLink="users" [queryParams]="{ id: this.institution ? this.institution.id : '' }" class="text-center text-lg hover:text-green-dark px-4 py-3.5 transition-colors rounded-lg w-full" routerLinkActive="active">Usuarios</a></li>
      </ul>
  </div>

  <div class="h-[10vh] lg:w-2/3 m-auto flex flex-row justify-between gap-4 xs:mb-5">
    <h1 class="text-2xl text-center">{{ this.institution ? this.institution.name : 'N/A' }}</h1>

    <div class="flex flex-col lg:flex-row gap-4 xl:gap-40 lg:gap-8 justify-center">
      <div class="flex flex-col items-center">
        <p class="text-lg">Cursos</p>
        <span class="text-xl">{{ this.institution ? this.institution.schoolYearQuantity : 'N/A' }}</span>
      </div>
      <div class="flex flex-col items-center">
        <p class="text-lg">Usuarios</p>
        <span class="text-xl">{{ this.institution ? this.institution.userQuantity : 'N/A' }}</span>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</main>
