/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/cdk/overlay-prebuilt.css';

:root {
    --green-primary: #57AD57;
    --green-light: #6ABB6B;
    --green-dark: #2C5A2E;
    --black-primary: #27272A;
    --black-secondary: #3F3F46;
}