<h1 class="m-4 mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-xl">Creación
    de Inputs</h1>
<form [formGroup]="formGroup" class="max-w-sm mx-auto" (ngSubmit)="onSubmit()">
    <div class="mb-5">
        <input type="text" formControlName="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-light focus:border-green-light block w-full p-2.5"
            placeholder="nombre">
    </div>
    <div class="mb-5">
        <textarea formControlName="description" rows="4"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-light focus:border-green-light block w-full p-2.5"
            placeholder="Write your thoughts here..."></textarea>
    </div>
    <div class="mb-5">
        <label for="type" class="block mb-2 text-sm font-medium text-gray-900">Elija el tipo de campo</label>
        <select formControlName="type"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            @for(option of inputType;track option.name; let i=$index){
            <option [selected]="i==0" value="{{option.value}}">{{option.name}}</option>
            }
        </select>
    </div>
    @if(formGroup.value.type==1){
    <div class="flex items-center mb-4">
        <input formControlName="decimal" type="checkbox" value=""
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
        <label for="decimal" class="ms-2 text-sm font-medium text-gray-900">Decimal</label>
    </div>
    @if(formGroup.value.decimal){
    <div class="relative mb-6">
        <label for="decimals" class="sr-only">Número de decimales</label>
        <input formControlName="decimals" type="range" step="1" value="1" min="1" max="4"
            class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer">
        <span class="text-sm text-gray-500 absolute start-0 -bottom-6">Min (1)</span>
        <span class="text-sm text-gray-500 absolute start-1/3 -translate-x-1/2 rtl:translate-x-1/2 -bottom-6">2</span>
        <span class="text-sm text-gray-500 absolute start-2/3 -translate-x-1/2 rtl:translate-x-1/2 -bottom-6">3</span>
        <span class="text-sm text-gray-500 absolute end-0 -bottom-6">Max (4)</span>
    </div>
    }
    }
    <div class="mb-5 mt-4">
        <input type="text" formControlName="unit"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-light focus:border-green-light block w-full p-2.5"
            a placeholder="Unidad de medida, por ejemplo cms">
    </div>
    <button type="submit" [disabled]="!formGroup.valid"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Crea
        Input</button>
</form>

<hr class="h-px my-8 bg-gray-200 border-0">

<h2 class="m-10 mb-2 text-lg font-semibold text-gray-900">Inputs:</h2>
<ul class="m-10 max-w-md space-y-1 text-gray-500 list-disc list-inside">
    @for(i of inputService.mockData;track i.name){
    <li>{{i | json}}</li>
    }
    @empty {
    <li>No hay Inputs aún</li>
    }


</ul>

<button (click)="create()">modal</button>